[submodule "destamatic-ui"]
	path = destamatic-ui
	url = https://github.com/torrinworx/destamatic-ui
[submodule "destam-db-core"]
	path = destam-db-core
	url = https://github.com/torrinworx/destam-db-core.git
