[submodule "destamatic-ui"]
	path = destamatic-ui
	url = https://github.com/torrinworx/destamatic-ui
[submodule "destam-web-core"]
	path = destam-web-core
	url = https://github.com/torrinworx/destam-web-core.git
